/* =============================================================

	Kraken v3.5
	A lightweight front-end boilerplate by Chris Ferdinandi.
	http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/


	# Colors
	Primary (Blue): #0088cc
	Black: #272727
	White: #ffffff
	Success (Green): #377f31;
	Danger (Red): #880e14;
	Warning (Yellow): #dba909;
	Code (Fuscia): #dd1144;
	Gray (Dark): #808080
	Gray (Light): #e5e5e5

	# Font Stack
	Sans-Serif (default): "Helvetica Neue", Arial, sans-serif
	Serif (suggested): Georgia, Times, serif
	Monospace: Menlo, Monaco, "Courier New", monospace

	# Typographic Scale
	(For math purposes. Actual font sizes in ems.)
	1px, 4px, 5px, 8px, 9px, 11px, 12px, 13px, 15px, 16px, 19px, 21px, 24px, 28px, 32px, 48px, 64px, 80px, 96px
	line height: 1.5em on small screens, 1.5625em on big screens

 * ============================================================= */
/* =============================================================
	CSS RESET
	Meyer's CSS Reset, Normalized.css, and custom code.
 * ============================================================= */
/* Mobile Screen Resizing */
@-webkit-viewport {
  width: device-width;
  zoom: 1.0;
}
@-moz-viewport {
  width: device-width;
  zoom: 1.0;
}
@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}
@-o-viewport {
  width: device-width;
  zoom: 1.0;
}
@viewport {
  width: device-width;
  zoom: 1.0;
}
/* Remove browser defaults */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
button, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Add box sizing to everything
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*  Set display type for HTML5 semantic elements */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*  Force scrollbar display to prevent jumping on pages.
 *  Fix text resize bug on mobile devices. */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  Display audio, canvas, and video elements as inline block elements. */
audio,
canvas,
video {
  display: inline-block;
}

/*  Prevent modern browsers from displaying audio without controls. */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*  Prevent img and video elements from spilling
 *  outside of the page on smaller screens. */
img,
video {
  max-width: 100%;
  height: auto;
}

/*  Prevent iframe, object, and embed elements from
 *  spilling outside of the page on smaller screens. */
iframe,
object,
embed {
  max-width: 100%;
}

/* Address [hidden] styling not present in IE 8/9.
 * Hide the template element in IE, Safari, and Firefox < 22. */
[hidden],
template {
  display: none;
  visibility: hidden;
}

/*  Prevents IE from making scaled images look like crap */
img {
  -ms-interpolation-mode: bicubic;
}

/*  Address outline inconsistency between Chrome and other browsers. */
a:focus,
button:focus {
  outline: thin dotted;
  outline: 0.3125em auto -webkit-focus-ring-color;
  outline-offset: -0.15625em;
}

/*  Improve readability when focused and also mouse hovered in all browsers. */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================
	THE GRID
	Structure and layout.
 * ============================================================= */
/*  Mobile-first. Single-column layout by default
 *  Container sets the maximum page width. Adjust as needed. */
.container {
  max-width: 60em;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

/*  Still mostly single-column.
 *  Option to activate grid on small screens.
 *  Two-column layout for .grid-img. */
@media (min-width: 20em) {
  .row {
    margin-left: -1.4%;
    margin-right: -1.4%;
  }

  .grid-fourth,
  .grid-third,
  .grid-half,
  .grid-two-thirds,
  .grid-three-fourths,
  .grid-full,
  .grid-img {
    float: left;
    width: 100%;
    padding-left: 1.4%;
    padding-right: 1.4%;
  }

  /*  Reverses order of grid for content choreography */
  .grid-flip {
    float: right;
  }

  /*  Optionally show grid for small screens */
  .row-start-xsmall .grid-fourth {
    width: 25%;
  }

  .row-start-xsmall .grid-third {
    width: 33.33333333333%;
  }

  .row-start-xsmall .grid-half,
  .grid-img {
    width: 50%;
  }

  .row-start-xsmall .grid-two-thirds {
    width: 66.666666666667%;
  }

  .row-start-xsmall .grid-three-fourths {
    width: 75%;
  }
}
/*  Still mostly single-column.
 *  Option to activate grid on medium screens.
 *  Three-column layout for .grid-img. */
@media (min-width: 30em) {
  /*  Show grid for small screens */
  .row-start-small .grid-fourth {
    width: 25%;
  }

  .row-start-small .grid-third,
  .grid-img {
    width: 33.33333333333%;
  }

  .row-start-small .grid-half {
    width: 50%;
  }

  .row-start-small .grid-two-thirds {
    width: 66.666666666667%;
  }

  .row-start-small .grid-three-fourths {
    width: 75%;
  }
}
/*  Full 6-column grid.
 *  Four-column layout for .grid-img. */
@media (min-width: 40em) {
  .grid-fourth,
  .grid-img {
    width: 25%;
  }

  .grid-third {
    width: 33.33333333333%;
  }

  .grid-half {
    width: 50%;
  }

  .grid-two-thirds {
    width: 66.666666666667%;
  }

  .grid-three-fourths {
    width: 75%;
  }

  /*  Offets let you shift grid elements to the right
   *  but stay aligned to the grid. */
  .offset-fourth {
    margin-left: 25%;
  }

  .offset-third {
    margin-left: 33.33333333333%;
  }

  .offset-half {
    margin-left: 50%;
  }

  .offset-two-thirds {
    margin-left: 66.666666666667%;
  }

  .offset-three-fourths {
    margin-left: 75%;
  }
}
/* Add clearfix */
/* =============================================================
	TYPOGRAPHY
	Sets font styles for entire site.
 * ============================================================= */
body {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.5;
  color: #333333;
  background: white;
}

p {
  margin-bottom: 1.5625em;
}

@media (min-width: 40em) {
  body {
    line-height: 1.5625;
  }
}
/*  Sizes
 *  For smaller and larger text */
.text-small {
  font-size: 0.9375em;
}

.text-tall {
  font-size: 1.1875em;
  line-height: 1.4;
}

@media (min-width: 40em) {
  .text-tall {
    font-size: 1.3125em;
  }
}
/*  Colors
 *  For alternate text colors */
.text-muted {
  color: gray;
}

/*  Links
 *  Hyperlink styling */
a {
  color: #f6521d;
  text-decoration: none;
  word-wrap: break-word;
}

a:hover {
  color: #bf3408;
  text-decoration: underline;
}

a img {
  border: none;
  background: none;
}

/*  Prevents border/background on linked image hover.
 *  Adds slight opacity. */
a:hover img {
  border: none;
  background: none;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/*  Lists
 *  Styling for lists */
ul,
ol,
dl {
  margin-bottom: 1.5625em;
  margin-left: 2em;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

dl {
  margin-left: 0;
}

dt {
  font-weight: bold;
}

/*  Removes list styling.
 *  For semantic reasons, should only
 *  be used on unordered lists. */
.list-unstyled {
  margin-left: 0;
  list-style: none;
}

/*  Headings
 *  h1 through h6 styling
 *  Heading class lets you use one heading type for semantics
 *  but style it as another heading type. */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-bottom: 1em;
  padding-top: 1em;
  word-wrap: break-word;
}

h1,
.h1 {
  color: #f6521d;
  font-size: 1.5em;
  text-transform: uppercase;
  padding-top: .5em;
}

.heading-plain {
  color: #333333;
}

h2,
.h2 {
  font-size: 1.3125em;
  text-transform: uppercase;
}

h3,
.h3 {
  font-size: 1.1875em;
  text-transform: uppercase;
}

h4, h5, h6,
.h4, .h5, .h6 {
  font-size: 1em;
}

@media (min-width: 40em) {
  h1,
  .h1 {
    font-size: 1.75em;
  }
}
/*  Lines, Quotes and Emphasis */
/*  Lines */
hr {
  margin: 2em auto;
  border: 0;
  border-top: 0.0725em solid #e9e9e9;
  border-bottom: 0 solid white;
}

.line-secondary {
  margin-top: 0;
  margin-bottom: 1.3125em;
  border-top: 0.125em solid #f6521d;
  border-bottom: 0 solid #e9e9e9;
}

/*  Bold */
strong {
  font-weight: bold;
}

/*  Italics */
em {
  font-style: italic;
}

/*  Subscript & Superscript */
sub,
sup {
  position: relative;
  font-size: 85%;
  font-weight: bold;
  line-height: 0;
  vertical-align: baseline;
  margin-left: 0.25em;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*  Highlighting colors */
::selection {
  color: white;
  background: #f6521d;
}

::-moz-selection {
  color: white;
  background: #f6521d;
}

/*  Blockquotes */
blockquote {
  border-left: 0.25em solid #e9e9e9;
  margin-bottom: 1.5625em;
  padding-left: 1.5625em;
  padding-right: 1.5625em;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* =============================================================
	CODE
	Styling for code and preformatted text.
 * ============================================================= */
/* @todo Add variables for code elements */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 0.875em;
  border-radius: 0.0725em;
}

code {
  color: #dd1144;
  background-color: #fbfbfb;
  padding: 0.25em;
}

pre {
  display: block;
  margin-bottom: 1.5625em;
  line-height: 1.5;
  background-color: #f8f8f8;
  padding: 0.8125em;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  white-space: pre-wrap;
  word-break: break-all;
}

pre code {
  font-size: 1em;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

/* =============================================================
	BUTTONS
	Styling for CSS buttons.
 * ============================================================= */
.btn, #submit, .contact-submit input {
  display: inline-block;
  font-size: 0.9375em;
  padding: 0.5em 0.6875em;
  line-height: 1.2;
  font-weight: normal;
  background-color: #f6521d;
  border: 0.0725em solid #f6521d;
  border-radius: 0.0725em;
  margin-right: 0.3125em;
  margin-bottom: 0.3125em;
}

.btn, #submit, .contact-submit input,
.btn:hover,
#submit:hover,
.contact-submit input:hover,
a .btn:hover,
a #submit:hover,
a .contact-submit input:hover,
.contact-submit a input:hover,
.btn.active,
.active#submit,
.contact-submit input.active {
  color: white;
}

.btn:hover, #submit:hover, .contact-submit input:hover,
a .btn:hover,
a #submit:hover,
a .contact-submit input:hover,
.contact-submit a input:hover,
.btn.active,
.active#submit,
.contact-submit input.active {
  background-color: #bf3408;
  border-color: #bf3408;
  text-decoration: none;
}

.btn-secondary {
  background-color: gray;
  border-color: gray;
}

.btn-secondary:hover,
a .btn-secondary:hover,
.btn-secondary.active {
  background-color: #5a5a5a;
  border-color: #5a5a5a;
}

.btn:active, #submit:active, .contact-submit input:active,
.btn.active,
.active#submit,
.contact-submit input.active {
  box-shadow: inset 0 0.15625em 0.25em rgba(0, 0, 0, 0.15), 0 0.0725em 0.15625em rgba(0, 0, 0, 0.05);
  outline: 0;
}

.btn.disabled, .disabled#submit, .contact-submit input.disabled,
.btn[disabled],
[disabled]#submit,
.contact-submit input[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
  filter: alpha(opacity=50);
  box-shadow: none;
}

.btn-large {
  padding: 0.6875em 0.9375em;
  font-size: 1em;
  line-height: normal;
}

.btn-block,
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  display: block;
  width: 100%;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
}

button,
.btn,
#submit,
.contact-submit input {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  /* Override default Webkit/Firefox button styling */
  background-image: none;
  -webkit-appearance: none;
}

.btn:last-child, #submit:last-child, .contact-submit input:last-child,
input.btn,
input#submit,
.contact-submit input {
  margin-right: 0;
}

/* =============================================================
	FORMS
	Styling for form elements.
 * ============================================================= */
/* @todo Integrate form styling with _config options */
form,
fieldset {
  margin-bottom: 1.5625em;
}

legend,
label {
  display: block;
  font-weight: normal;
  padding: 0;
  margin-bottom: 0.3125em;
}

/* @todo Adjust form colors based on Sass variables */
input,
textarea,
select {
  display: block;
  width: 100%;
  font: inherit;
  line-height: 1.5;
  color: #616161;
  margin-bottom: 1.1875em;
  padding: 0.3125em;
  border: 0.0725em solid #b8b8b8;
  border-radius: 0.0725em;
}

form button,
form .button {
  margin-bottom: 1.1875em;
}

textarea {
  height: 12em;
}

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0;
  margin-bottom: 0.3125em;
  cursor: pointer;
}

input:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 0.0725em 0.0725em rgba(0, 0, 0, 0.075), 0 0 0.5em rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
}

input[type="file"]:focus,
input[type="checkbox"]:focus,
select:focus {
  outline: thin dotted;
  outline: 0.3125em auto -webkit-focus-ring-color;
  outline-offset: -0.125em;
}

/*  Inline Inputs */
.input-inline, #submit, .contact-submit input {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

/*  Condensed Inputs */
.input-condensed {
  padding: 0.0725em 0.3125em;
  font-size: 0.9375em;
}

@media (min-width: 40em) {
  input, textarea, select {
    line-height: 1.5625;
  }
}
/* =============================================================
	WORDPRESS IMAGE CLASSES
	Styling for the classes WordPress automatically applies to images.
	These styles are NOT included in the Kraken boilerplate.
	(You'll probably want to include these later in the stylesheet.)
 * ============================================================= */
/*  Comment Avatar Styling
 *  Class automatically applied to comment avatars. */
.avatar {
  float: left;
  margin-right: 0.5em;
  /*  Set $size to 2x desired size in comments.php
   *  for crisp images on retina screens. */
  height: 3.75em;
  width: 3.75em;
}

/* Full Bleed Images */
.img-fullbleed {
  width: 100%;
  height: auto;
}

.img-franks {
  max-width: 9.375em;
  max-height: 9.375em;
  height: auto;
  width: auto;
}

/* Tiled Image Galleries */
.tiled-gallery .tiled-gallery-item a {
  pointer-events: none;
  cursor: default;
}

.tiled-gallery-caption a {
  pointer-events: auto !important;
  cursor: pointer !important;
}

/*  Display all images as centered block elements.
 *  Mobile-first default styling. */
.alignleft,
.alignright,
.aligncenter,
.alignnone {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5625em;
}

/*  Image Caption Styling */
.wp-caption-text {
  font-size: 0.9375em;
  font-style: italic;
  color: gray;
  padding-top: 0.5em;
  text-align: center;
}

@media (min-width: 30em) {
  /*  On bigger screens, float .alignleft images
   *  to the left with a slight margin-right. */
  .alignleft {
    float: left;
    margin-right: 1.1875em;
  }

  /*  On bigger screens, float .alignright images
   *  to the right with a slight margin-left. */
  .alignright {
    float: right;
    margin-left: 1.1875em;
  }

  /*  On bigger screens, remove left and right margins from .alignnone */
  .alignnone {
    margin-left: 0;
    margin-right: 0;
  }
}
/* =============================================================
	WORDPRESS COMMENT STYLES
	Styles for WordPress comment forms.
 * ============================================================= */
.line-nested {
  display: none;
  visibility: hidden;
}

@media (min-width: 30em) {
  .comment-nested {
    padding-left: 4em;
  }

  .line-nested {
    display: block;
    visibility: visible;
  }
}
#cancel-comment-reply-link {
  font-size: .785em;
  text-transform: none;
}

.grunion-field-label span {
  display: none;
  visibility: hidden;
}

/* =============================================================

	Backgrounds v2.0
	Simple section dividers by Chris Ferdinandi.
	http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/

 * ============================================================= */
.bg {
  background-color: #e9e9e9;
  padding-top: 2em;
  padding-bottom: 2em;
}

.bg-secondary {
  color: white;
  background-color: #f6521d;
}

.bg-condensed {
  padding-top: 0.9375em;
  padding-bottom: 0.9375em;
}

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
  width: 100%;
  display: block;
}

/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* FlexSlider Default Theme
*********************************/
.flexslider {
  position: relative;
  zoom: 1;
}

.flex-viewport {
  transition: all 1s ease;
}

.loading .flex-viewport {
  max-height: 300px;
}

.flexslider .slides {
  zoom: 1;
}

/* Control Nav */
.flex-control-nav {
  max-width: 60em;
  width: 88%;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

.flex-control-nav li {
  margin: 0 0.3125em;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.flex-control-paging li a {
  width: 0.6875em;
  height: 0.6875em;
  display: block;
  background-color: #e9e9e9;
  cursor: pointer;
  border-radius: 50%;
}

.flex-control-paging li a:hover {
  background-color: gray;
}

.flex-control-paging li a.flex-active {
  background-color: #f6521d;
  cursor: default;
}

/* =============================================================

	Astro v5.0
	Mobile-first navigation patterns by Chris Ferdinandi.
	http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/

 * ============================================================= */
/*  Center all navigation elements */
.nav-navbar {
  font-family: "Open Sans Condensed", "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

/* Increase font size for social icons */
.nav-navbar,
.font-face .nav-social {
  font-size: 1.1875em;
}

/*  For text-based logo, override default link styling.
 *  If .logo and .nav don't align properly,
 *  adjust the .logo line-height. */
.logo {
  display: inline-block;
  font-size: 1.1875em;
  line-height: 1.2;
  color: white;
  text-decoration: none;
}

/*  For text-based logo, override default link hover styling */
.logo:hover {
  color: white;
  text-decoration: none;
}

/* 	Set header logo dimensions */
.logo-header {
  height: 1.25em;
  width: auto;
}

/* 	Set footer logo dimensions */
.logo-footer {
  max-width: 9.375em;
  max-height: 4.6875em;
  height: auto;
}

/*  Remove default list styling for navigation list */
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*  Display navigation items as inline-block elements.
 *  Add slight margin between each navigation item. */
.nav > li {
  display: inline-block;
  float: none;
}

.nav-navbar .nav > li,
.nav-social .nav > li {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.nav-navbar .nav > li > a:hover,
.nav-navbar .current-menu-item > a,
.nav-social .nav > li > a:hover,
.nav-social .current-menu-item > a {
  text-decoration: none;
  border-bottom: 0.125em solid #a13510;
}

/*  Remove margin-left on first navigation item */
.nav > li:first-child {
  margin-left: 0;
}

/*  Remove margin-right on last navigation item */
.nav > li:last-child {
  margin-right: 0;
}

.nav a,
.nav a:hover {
  color: white;
}

/*  Placeholder for active link styling */
/*  .nav > li.active > a { */
/*      Add your styles here */
/*  } */
/*  Hide the navigation toggle menu button by default.
 *  Only needed for expand-and-collapse option. */
.nav-toggle {
  display: none;
  visibility: hidden;
}

/*  Expand-and-Collapse styling for smaller screens.
 *  Remove if not using.
 *  Change max-width to fit your project. */
@media (max-width: 60em) {
  /*  .js-astro prefix ensure content is only hidden when JavaScript is supported.
   *  This requires on the included js-accessibility.js-astro script. */
  /*  Align text to the left when javascript is supported */
  .js-astro .nav-wrap {
    text-align: left;
  }

  /*  Float logo to the left when javascript is supported */
  .js-astro .logo {
    float: left;
  }

  /*  Display navigation toggle button if javascript is supported */
  .js-astro .nav-toggle {
    display: block;
    visibility: visible;
    float: right;
    color: white;
  }

  /*  Hide navigation items if javascript is supported */
  .js-astro .nav-collapse {
    max-height: 0;
    overflow: hidden;
    display: block;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.35s ease-in;
  }

  /*  When collapsed element has the .active class, show it
   *  Uses max-height instead of display: none to allow for
   *  CSS3 animations, which don't work on display values. */
  .js-astro .nav-collapse.active {
    max-height: 999em;
  }

  .js-astro .nav {
    text-align: left;
  }

  /*  Display navigation items as full-width, stacked blocks when javascript supported */
  .js-astro .nav-collapse li,
  .nav-stacked li {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    box-sizing: border-box;
  }

  /*	Hide "Home" link on smal screens */
  .js-astro .menu-item-home {
    display: none;
    visibility: hidden;
    height: 0;
  }
}
/*  Styling for Bigger Screens.
 *  (Astro is built mobile-first.)
 *  Change min-width to fit your project. */
@media (min-width: 40em) {
  /*  Align text to the left */
  .nav-wrap {
    text-align: left;
  }

  /*  Float logo to the left and remove margin-bottom */
  .logo {
    float: left;
  }

  /*  Align navigation elements to the right */
  .nav {
    text-align: right;
  }
}
@media (min-width: 60em) {
  /* Add divider for stacked lists */
  .nav-stacked li:before {
    color: white;
    content: " | ";
  }

  .nav-stacked li:first-child:before {
    content: "";
  }
}
/*  Clearfix */
.nav-wrap:before,
.nav-wrap:after {
  display: table;
  content: "";
  *zoom: 1;
}

.nav-wrap:after {
  clear: both;
}

/* =============================================================
	ICONS
	A placeholder for icon fonts.
	Change font names and URLs as need.
	Learn more at http://gomakethings.com/icon-fonts/
 * ============================================================= */
/*	@font-face mixin */
@font-face {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
}
/*	Assign icon font to icons */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icomoon';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/*	Define specific characters for each icon */
/*	`.font-face` class added by `feature-test.js` */
.font-face .icon-home:before {
  content: "\e600";
}

.font-face .icon-facebook:before {
  content: "\e601";
}

.font-face .icon-twitter:before {
  content: "\e602";
}

.font-face .icon-linkedin:before {
  content: "\e603";
}

a .icon-home,
a .icon-facebook,
a .icon-twitter,
a .icon-linkedin,
a .icon-home:hover,
a .icon-facebook:hover,
a .icon-twitter:hover,
a .icon-linkedin:hover {
  color: white;
}

/*	Text that displays when @font-face is unsupported.
 *	Also provides assistance for screen readers. */
.font-face .icon-fallback-text {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

/* =============================================================
	ALIGNMENT, SPACING & VISIBILITY
	Override default alignment, spacing and visibilty.
 * ============================================================= */
/*  Text alignment */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/*  Floats */
.float-left {
  float: left;
}

.float-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.float-right {
  float: right;
}

/*  Spacing */
.no-space {
  margin: 0;
  padding: 0;
}

.no-space-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

.no-space-top {
  margin-top: 0;
  padding-top: 0;
}

.space-bottom {
  margin-bottom: 2em;
}

.space-bottom-small {
  margin-bottom: 0.5em;
  padding-bottom: 0;
}

.space-top {
  padding-top: 0.8125em;
}

/*  Screen Reader Text */
.screen-reader {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

/*  Clearfix */
.group:before, .container:before,
.row:before,
.group:after,
.container:after,
.row:after {
  display: table;
  content: "";
}

.group:after, .container:after,
.row:after {
  clear: both;
}

/* =============================================================
	PRINT STYLES
	Styling for printed content. Adapted from HTML5BP.
	http://html5boilerplate.com
 * ============================================================= */
@media print {
  /*  Universal selector.
   *  Reset all content to transparent background,
   *  black color, and remove box and text shadows. */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /*  Specifies page margin */
  @page {
    margin: 0.5cm;
  }
  /*  Underline all links */
  a, a:visited {
    text-decoration: underline;
  }

  /*  Show URL after links */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /*  Don't show URL for internal links */
  a[href^="#"]:after {
    content: "";
  }

  /*  Specifies the minimum number of lines to print at the top and bottom of a page. */
  p, h1, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /*  Avoid inserting a page break after headers */
  h1, h2, h3 {
    page-break-after: avoid;
  }

  /*  Change border color on blockquotes and preformatted text.
   *  Avoid page breaks inside the content */
  pre, blockquote {
    border-color: #999;
    page-break-inside: avoid;
  }

  /*  Displayed as a table header row group */
  thead {
    display: table-header-group;
  }

  /*  Avoid inserting a page break inside table rows and images */
  tr, img {
    page-break-inside: avoid;
  }
}

/* =================================================================
   LIZ STYLES
   Start of Liz's attempts to customize

  ================================================================= */

  .signup {
    width: 36%;
    float: right;
  }

  .landing-img {
    width: 60%;
  }

  .grid-60pct {
    width: 60%;
  }


  .inside-stuff {
    width: 60%;
    float: left;
  }
